
/* ======================================================
   ====== Google font Embed code Import style link ======
   ====================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:wght@400;500;600;700;800&display=swap') */

/* =============================================================================
                      ====== Declare global CSS Variables ======
                      ==========================================
   To create a variable with global scope, declare it inside the :root selector. 
   The :root selector matches the document's root element.
   ============================================================================= */
   :root {
    --black: #231D4F;
    --dark-02: #414040;
    --gray: #848199;
    --gray-03: #707070;
    --gray-04: #A0A0A0;
    --gray-05: #CFCFCF;
    --gray-06: #E7E7E7;
    --gray-07: #F3F3F3;
    --blue: #3F87F5;
    --pink: rgba(244, 150, 210, 0.103);
    --red: #FF4E4E;
    --white: #FFFFFF;
    --banner-bg-gradient: linear-gradient(360deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
    --criminal-law-col-bg-gradient: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
    --shadow-color: rgba(63, 135, 245, 0.25);
    --primary-font: "EB Garamond", serif;
    --secondary-font: "Poppins", sans-serif;
    --bg-color: red;
    --text-color: green;
    --div-padding: 10px;
    --div-margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: var(--primary-font);
    font-family: var(--secondary-font); */
}

.banner-custom-title-font, .title-font {
    font-family: var(--primary-font);
}

.banner-custom-description-font, .button-font, .description-font {
    font-family: var(--secondary-font);
}

.banner-overlay {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    background: var(--banner-bg-gradient);
  }

  .custom-gradient {
    background: var(--criminal-law-col-bg-gradient);
  }

  .custom-circle {
    width: 75px;
    height: 75px;
    /* object-fit: cover; */
  }
  /* border: 1px solid #E7E7E7;
  background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%); */

  .bg-overlay {
    transform: rotate(deg);
  }

  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
  }

  .frequently-asked-section-img {
    /* width: 440px; */
    height: 510px;
  }

  /* .form-control, .from-select {
    border-width: 3px;
  } */

  .form-control:focus {
    box-shadow: none;
    border: 3px solid #F3F3F3;
  }

  .border-md-end {
    border-right: 1px solid;
  }
  .border-md-bottom {
    border-bottom: 1px solid;
  }


  
  /* For Small device */
  /* @media screen and (max-width: 576px) { */
  @media only screen and (max-width: 576px) {
    .border-md-end, .border-md-bottom {
      border: none;
    }
    .banner-custom-title-font {
      width: 100%;
      font-size: 16px;
      margin-bottom: 5px;
    }
    .banner-custom-description-font {
      width: 100%;
      font-size: x-small;
      margin-bottom: 5px;
    }
    .input-group > .form-control  {
      font-size: x-small;
      /* padding-left: 8px; */
    }
    .input-group > .btn  {
      font-size: x-small;
      padding: 0;
    }
    .carousel-indicators {
      bottom: 0;
      margin: 0;
    }
    .carousel-caption {
      margin-bottom: 0;
      right: 8%;
      bottom: 0;
      left: 8%;
    }
    .custom-circle {
      width: 35px;
      height: 35px;
      /* object-fit: cover; */
      border: 1px;
    }
    .carousel-caption > .title-font {
      font-size: x-small;
    }
    .carousel-caption > .description-font {
      font-size: xx-small;
    }
    
  }


  
  